sc2==0.11.1             # the Python StarCraft II library
numpy == 1.16.2
pyaml == 16.12.2

pytest == 4.2.0         # for test suite
pytest-cov == 2.6.1     # for test suite
mypy == 0.670           # for static type analysis
codecov                 # for test coverage
